<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="costa" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>C.O.S.T.A Fashions</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">

    <link rel="stylesheet" href="/css/templatemo-hexashop.css">

    <link rel="stylesheet" href="/css/owl-carousel.css">

    <link rel="stylesheet" href="/css/lightbox.css">

<link rel="stylesheet"  href="/css/costa-index.css">


    </head>
    
    <body>
   
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12 ">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/home" class="logo">
                           <h1 class="costa-logo" >C.O.S.T.A</h1>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="/home" class="active">Home</a></li>
                            <li class="submenu">
                                <a href="javascript:;">Men</a>
                                <ul>
                                    <li><a href="/home?For=Men">Jeans</a></li>
                                    <li><a href="/home?For=Men">Shirts</a></li>
                                    <li><a href="/home?For=Men">Trousers&Shorts</a></li>
                                    <li><a href="/home?For=Men">T-shirts</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:;">Women</a>
                                <ul>
                                    <li><a href="/home?For=Women">Kurtas</a></li>
                                    <li><a href="/home?For=Women">Dresses&Jumpsuits</a></li>
                                    <li><a href="/home?For=Women">Jeans</a></li>
                                    <li><a href="/home?For=Women">T-Shirts</a></li>
                                </ul>
                            </li>

                            

                            <% if(typeof isLogedIn!=='undefined'&& isLogedIn==="true") { %>
                            <li class="scroll-to-section"><a href="/user/logout" >Logout</a></li>
                            <% }
                            else { %>
                                <li class="scroll-to-section"><a href="/user/login" >Login</a></li>
                           <% } %>
                           <li ><a href="/user/profile"><i class="fa fa-user"></i></a></li>
                           <li><a href="/home/wishlist"><i class="fa fa-heart"></i></a></li>
                           <li><a href="/home/cart"><i class="fa fa-shopping-cart"></i></a></li>
                           
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    
    <div class="main-banner" id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-content">
                        <div class="thumb">
                            <div class="inner-content">
                                <h4>We Are  C.O.S.T.A</h4>
                                <span>Explore the trends from East to West</span>
                                <div class="main-border-button">
                                    <a href="#">Purchase Now!</a>
                                </div>
                            </div>
                            <img src="data:<%= banner[0].images.contentType %>;base64,<%= banner[0].images.data.toString('base64') %>" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Women</h4>
                                            <span>Best Clothes For Women</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Women</h4>
                                                <p>Elegance is not about being noticed, it's about being remembered.</p>
                                                <div class="main-border-button">
                                                    <a href="/home?For=Women">Discover More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="/images/baner-right-image-01.jpg">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Men</h4>
                                            <span>Best Clothes For Men</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Men</h4>
                                                <p>Style is a way to say who you are without having to speak.</p>
                                                <div class="main-border-button">
                                                    <a href="/home?For=Men">Discover More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="/images/baner-right-image-02.jpg">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Kids</h4>
                                            <span>Best Clothes For Kids</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Kids</h4>
                                                <p>"Kids' fashion is a playground of imagination, where every outfit transforms into a world of wonder and brings their unique personalities to life."</p>
                                                <div class="main-border-button">
                                                    <a href="#">Discover More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="/images/baner-right-image-03.jpg">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Accessories</h4>
                                            <span>Best Trend Accessories</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Accessories</h4>
                                                <p>Accessories are the exclamation points of an outfit.</p>
                                                <div class="main-border-button">
                                                    <a href="#">Discover More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="/images/baner-right-image-04.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Men Area 1 Starts ***** -->
    <section class="section" id="men">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>Men's Latest</h2>
                        <span>Details to details is what makes COSTA different from the others</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 p-4">
                    <div class="men-item-carousel">
                        <div class="owl-men-item owl-carousel">

                            <% for (let i = 0; i < men1.length; i++) { %>
                            <div class="item " >
                              
                                <div class="thumb " >
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="/home/singleProduct?id=<%= men1[i]._id %>"><i class="fa fa-eye"></i></a></li>
                                            <li><a href="#" onclick="addToWishlist('<%= men1[i]._id %>')"><i class="fa fa-heart"></i></a></li>
                                            <li><a href="#" onclick="addToCart('<%= men1[i]._id%>')"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <a href="/home/singleProduct?id=<%= men1[i]._id %>">
                                        
                                        <img src="data:<%= men1[i].images[0].contentType %>;base64,<%= men1[i].images[0].data.toString('base64') %>" alt="Product Image">
                                    </a>
                                </div>
                                <div class="down-content">
                                    <h4><%= men1[i].title %></h4>
                                    <span style="text-decoration: line-through;">&#8377;<%= men1[i].price %></span>
                                    <span style="color: rgba(0, 0, 0, 0.697);">&#8377;<%= men1[i].saleprice %></span>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                           <div id="<%= men1[i]._id %>"></div>
                           <div id="addToCartError"></div>
                           
                        </div>
                        <% } %>
                        
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Men Area 1 Ends ***** -->
<!-- ***** Men Area 2 Starts ***** -->
<section class="section" id="men">
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="men-item-carousel">
                    <div class="owl-men-item owl-carousel">

                        <% for (let i = 0; i < men2.length; i++) { %>
                        <div class="item " >
                          
                            <div class="thumb " >
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="/home/singleProduct?id=<%= men2[i]._id %>"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="single-product.html"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <a href="/home/singleProduct?id=<%= men2[i]._id %>">
                                    
                                    <img src="data:<%= men2[i].images[0].contentType %>;base64,<%= men2[i].images[0].data.toString('base64') %>" alt="Product Image">
                                </a>
                            </div>
                            <div class="down-content">
                                <h4><%= men2[i].title %></h4>
                                <span style="text-decoration: line-through;">&#8377;<%= men2[i].price %></span>
                                <span style="color: rgba(0, 0, 0, 0.697);"></span>&#8377;<%= men2[i].saleprice %></span>
                                
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                       
                       
                    </div>
                    <% } %>
                    
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Men Area 2 Ends ***** -->

    <!-- ***** Women Area 1 Starts ***** -->
    <section class="section" id="women">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>Women's Latest</h2>
                        <span>Details to details is what makes Hexashop different from the other themes.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="women-item-carousel">
                        <div class="owl-women-item owl-carousel">
                          
                          
                           
                               
                                    <% for (let i = 0; i < women1.length; i++) { %>
                                        <div class="item">
                                    <div class="thumb">
                                        <div class="hover-content">
                                            <ul>
                                                <li><a href="/home/singleProduct?id=<%= women1[i]._id %>"><i class="fa fa-eye"></i></a></li>
                                                <li><a href="single-product.html"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <a href="/home/singleProduct?id=<%= women1[i]._id %>">
                                            
                                            <img src="data:<%= women1[i].images[0].contentType %>;base64,<%= women1[i].images[0].data.toString('base64') %>" alt="Product Image">
                                        </a>
                                    </div>
                                    <div class="down-content">
                                        <h4><%= women1[i].title %></h4>
                                        
                                        <span style="text-decoration: line-through;">&#8377;<%= women1[i].price %></span>
                                        <span style="color: rgba(0, 0, 0, 0.697);">&#8377;<%= women1[i].saleprice %></span>
                                        <ul class="stars">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                   
                                </div>
                                <% } %>

                               
                               
                               
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Women Area 1 Ends ***** -->

    <!-- ***** Women Area 2 Starts ***** -->
    <section class="section" id="women">
       
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="women-item-carousel">
                        <div class="owl-women-item owl-carousel">
                          
                          
                            <% for (let i = 0; i < women2.length; i++) { %>
                                <div class="item">
                                 
                                    <div class="thumb">
                                        <div class="hover-content">
                                            <ul>
                                                <li><a  href="/home/singleProduct?id=<%= women2[i]._id %>"><i class="fa fa-eye"></i></a></li>
                                                <li><a href="single-product.html"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <a href="/home/singleProduct?id=<%= women2[i]._id %>">
                                            
                                            <img src="data:<%= women2[i].images[0].contentType %>;base64,<%= women2[i].images[0].data.toString('base64') %>" alt="Product Image">
                                        </a>
                                    </div>
                                    <div class="down-content">
                                        <h4><%= women2[i].title %></h4>
                                     
                                        <span style="text-decoration: line-through;">&#8377;<%= women2[i].price %></span>
                                        <span style="color: rgba(0, 0, 0, 0.697);">&#8377;<%= women2[i].saleprice %></span>
                                        <ul class="stars">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                   
                                </div>
                                <% } %>

                               
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Women Area 2 Ends ***** -->

    <!-- ***** Explore Area Starts ***** -->
    <section class="section" id="explore">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-content">
                        <h2>Explore Our Products</h2>
                        
                        <div class="quote">
                            <i class="fa fa-quote-left"></i><p>Costa, your ultimate fashion destination, caters to both men and women with a diverse range of stylish clothing</p>
                        </div>
                        <p>Explore our curated collection that embodies the latest trends and timeless classics, ensuring you find the perfect outfit for any occasion. From sophisticated menswear to elegant womenswear, Costa offers unparalleled quality and design.</p>
                        <p>Discover a world of fashion where every piece tells a story, allowing you to express your unique style with confidence and flair."</p>
                        <div class="main-border-button">
                            <a href="products.html">Discover More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="leather">
                                    <h4>Leather Bags</h4>
                                    <span>Latest Collection</span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="first-image">
                                    <img src="/images/explore-image-01.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="second-image">
                                    <img src="/images/explore-image-02.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="types">
                                    <h4>Different Types</h4>
                                    <span>Over 304 Products</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Explore Area Ends ***** -->

    <!-- ***** Social Area Starts ***** -->
    <section class="section" id="social">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Social Media</h2>
                        <span>Details to details is what makes COSTA different from the other themes.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row images">
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                            <a href="http://instagram.com">
                                <h6>Fashion</h6>
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                        <img src="/images/instagram-01.jpg" alt="">
                    </div>
                </div>
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                            <a href="http://instagram.com">
                                <h6>New</h6>
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                        <img src="/images/instagram-02.jpg" alt="">
                    </div>
                </div>
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                            <a href="http://instagram.com">
                                <h6>Brand</h6>
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                        <img src="/images/instagram-03.jpg" alt="">
                    </div>
                </div>
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                            <a href="http://instagram.com">
                                <h6>Makeup</h6>
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                        <img src="/images/instagram-04.jpg" alt="">
                    </div>
                </div>
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                            <a href="http://instagram.com">
                                <h6>Leather</h6>
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                        <img src="/images/instagram-05.jpg" alt="">
                    </div>
                </div>
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                            <a href="http://instagram.com">
                                <h6>Bag</h6>
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                        <img src="/images/instagram-06.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Social Area Ends ***** -->

    <!-- ***** Subscribe Area Starts ***** -->
    <div class="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-heading">
                        <h2>By Subscribing To Our Newsletter You Can Get 30% Off</h2>
                        <span>Details to details is what makes COSTA different from the other themes.</span>
                    </div>
                    <form id="subscribe" action="" method="get">
                        <div class="row">
                          <div class="col-lg-5">
                            <fieldset>
                              <input name="name" type="text" id="name" placeholder="Your Name" required="">
                            </fieldset>
                          </div>
                          <div class="col-lg-5">
                            <fieldset>
                              <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email Address" required="">
                            </fieldset>
                          </div>
                          <div class="col-lg-2">
                            <fieldset>
                              <button type="submit" id="form-submit" class="main-dark-button"><i class="fa fa-paper-plane"></i></button>
                            </fieldset>
                          </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-6">
                            <ul>
                                <li>Store Location:<br><span>2nd Floor ,LULU MALL,KOCHI</span></li>
                                <li>Phone:<br><span>010-020-0340</span></li>
                                <li>Office Location:<br><span>Edappally,Kochi</span></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul>
                                <li>Work Hours:<br><span>10 AM - 11 PM Daily</span></li>
                                <li>Email:<br><span>info@costafashions.com</span></li>
                                <li>Social Media:<br><span><a href="#">Facebook</a>, <a href="#">Instagram</a>, <a href="#">Linkedin</a></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Subscribe Area Ends ***** -->
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                           <h2 style="color: white;">C.O.S.T.A</h2>
                        </div>
                        <ul>
                            <li><a href="#">costafashions ltd.2nd Floor,Lulu Mall,Kochi</a></li>
                            <li><a href="#">costafashions@company.com</a></li>
                            <li><a href="#">010-020-0340</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Shopping &amp; Categories</h4>
                    <ul>
                        <li><a href="/home?For=Men">Men’s Shopping</a></li>
                        <li><a href="/home?For=Women">Women’s Shopping</a></li>
                       
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="/home">Homepage</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Help &amp; Information</h4>
                    <ul>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">FAQ's</a></li>
                        <li><a href="/user/profile">Shipping</a></li>
                        <li><a href="/user/profile">Tracking ID</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>Copyright © 2022 COSTA Co., Ltd. All Rights Reserved. 
                        
                        <br>Design: <a href="#" target="_parent" title="free css templates">TEAM COSTA</a></p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    <!-- jQuery -->
    <script src="/javascript/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/javascript/popper.js"></script>
    <script src="/javascript/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/javascript/owl-carousel.js"></script>
    <script src="/javascript/accordions.js"></script>
    <script src="/javascript/datepicker.js"></script>
    <script src="/javascript/scrollreveal.min.js"></script>
    <script src="/javascript/waypoints.min.js"></script>
    <script src="/javascript/jquery.counterup.min.js"></script>
    <script src="/javascript/imgfix.min.js"></script> 
    <script src="/javascript/slick.js"></script> 
    <script src="/javascript/lightbox.js"></script> 
    <script src="/javascript/isotope.js"></script> 
    
    <!-- Global Init -->
    <script src="/javascript/custom.js"></script>
<script src="/javascript/addToCartFromHome.js"></script>
    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>

  </body>
</html>
